@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Lobster&family=Oswald&family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  display: flex;

  /* flex-direction: row; */
  align-items: center;

  /* justify-content: space-evenly; */
  font-family: 'Lato', sans-serif;
  padding: 20px 15%;
  background-color: #333;

  /* padding: 10px 15px; */
  letter-spacing: 0.01em;
  font-size: 15px;
  margin: auto;
}

header ul li {
  display: flex;
  gap: 3.5rem;
  list-style: none;

  /* margin-top: 5px; */
  margin-left: 22%;

  /* border: 1px solid white; */
  width: 100%;
}

header a {
  text-decoration: none;
  color: #fff;

  /* margin-right: 3.5rem; */
  margin: 0;
  font-size: 1.1rem;
}

.headerlogo {
  width: 120px;
  height: 46px;
  margin: 0;

  /* margin-left: 50px;
  margin-right: 60px; */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.popup-container {
  text-align: center;
  padding: 20px;
  width: 50%;
  height: 98%;
  transform: translate(-50%, -50%) !important;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid grey;
  border-radius: 5px;
}

.popup-container img {
  width: 80%;
  height: auto;

  /* height: 40%; */
}

.hidden {
  display: none;
}

.s-content {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  background-color: #fed049;
  padding-inline: 10px;
}

.s-content h4 {
  margin-right: 15px;
  margin-bottom: 10px;
}

.popup-container h1 {
  background-color: #333;
  color: #fff;
  padding-inline: 10px;
}

.popup-container input {
  height: 35px;
  display: block;
  width: 40%;
  margin: 10px auto;
  border: 1px solid #333;
  outline: none;
  border-radius: 8px;
}

.popup-container textarea {
  height: 100px;
  display: block;
  width: 40%;
  margin: 10px auto;
  border: 1px solid #333;
  border-radius: 8px;
  outline: none;
}

.popup-container .submit-button {
  height: 30px;
  width: 20%;
  margin-left: -20%;
  text-align: left;
  padding: 0 8px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.popup-container .submit-button:hover {
  color: #ea9215;
  background-color: #f1f1f1;
}
