@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Lobster&family=Oswald&family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  background-color: #333;
  padding: 10px 15px;
  letter-spacing: 0.01em;
  font-size: 15px;
  margin: auto;
}

header ul li {
  list-style: none;
  margin-top: 5px;
}

header a {
  text-decoration: none;
  color: #fff;
  margin-right: 3.5rem;
  font-size: 1.3rem;
}

.headerlogo {
  width: 150px;
  height: 40px;
  margin-left: 50px;
  margin-right: 60px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.popup-container {
  text-align: center;
  padding: 20px;
  width: 50%;
  height: 95%;
  border: 1px solid #000;
}

.popup-container img {
  width: 50%;
  height: 40%;
}

.hidden {
  display: none;
}

.s-content {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  background-color: #fed049;
  padding-inline: 10px;
}

.s-content h4 {
  margin-right: 15px;
  margin-bottom: 10px;
}

.popup-container h1 {
  background-color: #333;
  color: #fff;
  padding-inline: 10px;
}

.popup-container input {
  height: 35px;
  display: block;
  width: 40%;
  margin: 10px auto;
  border: 1px solid #333;
  outline: none;
  border-radius: 8px;
}

.popup-container textarea {
  height: 100px;
  display: block;
  width: 40%;
  margin: 10px auto;
  border: 1px solid #333;
  border-radius: 8px;
  outline: none;
}

.popup-container .submit-button {
  height: 30px;
  width: 20%;
  margin-left: -20%;
  text-align: left;
  padding: 0 8px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.popup-container .submit-button:hover {
  color: #ea9215;
  background-color: #f1f1f1;
}

.popup-container h3 {
  margin-top: 10px;
}

.comments-container {
  width: 100%;
  text-align: left;
  margin-left: 30%;
}

.comments-container h3 {
  margin-left: 10%;
}
